@font-face {
  font-family: f1;
  src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
  font-family: f1_bold;
  src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
  font-family: f1_wide;
  src: url(../fonts/Formula1-Wide.ttf);
}

@font-face {
  font-family: f1_black;
  src: url(../fonts/Formula1-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f4f0;
}
.header {
  width: calc(100% - 2rem);
  background-color: red;
  padding: 0 1rem;

  .wrapper {
    width: calc(100% - 180px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    margin-right: 180px;

    .logo {
      width: 180px;

      img {
        width: auto;
        height: 32.5px;
      }
    }

    .content {
      display: flex;
      width: 60%;
      justify-content: space-evenly;
      margin: 0 auto;

      a {
        text-decoration: none;
        color: white;
        font-family: f1;
      }
    }
  }
}

.tracks {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 2036px) {
    width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  }
  .wrapper {
    margin: 0 auto;
    position: relative;
    padding: 40px 20px;
    .border {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 2rem;
      background-color: white;
      z-index: 100;
    }
    width: calc(936px + 40px);
    height: auto;
    .track {
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: all .5s ease;
      border-top-right-radius: 2rem;
      border: 0;
      border-top: 3px;
      border-right: 3px;
      border-color: red;
      border-style: solid;
      padding: 20px;
      margin-right: 18px;
      .secondary-desc {
        transition: all .5s ease;
        .track-history-button {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 200px;
          min-height: 100%;
        }
      }
      .history {
        min-width: 936px;
        .track-name {
          padding: 20px;
          font-family: f1_black;
          font-size: 20px;
        }
        .question {
          color: rgb(180, 0, 0);
          padding: 20px;
          font-family: f1_bold;
        }
        .answer {
          padding: 0 20px;
          font-family: f1;
        }
      }
      .trackname {
        position: absolute;
        top: calc(-1rem + 40px);
        left: 20px;
        background-color: #f6f4f0;
        padding-right: 2rem;
        img {
          border-radius: 5px;
          height: auto;
          width: 56px;
        }
        p {
          margin-left: 20px;
        }
        display: flex;
        font-family: f1_bold;
        font-size: 25px;
      }
      .trackk {
        img {
          padding: 20px 0;
          width: 936px;
          height: auto;
        }
      }
      .info-section {
        display: flex;
        width: 100%;
  
        .main-info {
          padding: 10px;
          padding-left: 0;
          display: flex;
          .spacing {
            padding-right: 20px;
            .info {
              flex-direction: column;
              width: 300px;
              border: 0;
              border-radius: 0;
              border-bottom: 1px;
              border-right: 1px;
              border-bottom-right-radius: 10px;
              border-style: solid;
              border-color: #9a9a9a;
              padding: 0 20px 20px 0;
              .name {
                color: rgb(180, 0, 0);
                font-size: 15px;
                font-family: f1;
              }
              .value {
                font-size: 32px;
                font-family: f1_bold;
              }
              .km {
                font-family: f1;
                color: rgb(180, 0, 0);
                font-size: 15px;
                margin-left: 0.5ch;
                margin-top: 18px;
              }
              .length {
                display: flex;
              }
            }
          }
        }
      }
      .lap-record {
        width: 640px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px;
        border-right: 1px;
        border-bottom-right-radius: 10px;
        border-style: solid;
        border-color: #9a9a9a;
        padding: 0 20px 20px 0;
        font-family: f1;
        font-size: 15px;
        color: rgb(180, 0, 0);
        .record {
          font-family: f1_bold;
          font-size: 36px;
          color: black;
        }
        .driver {
          color: rgb(180, 0, 0);
          font-family: f1;
          font-size: 15px;
          margin-left: 0.5ch;
          margin-top: 22px;
        }
        .sub-text {
          display: flex;
        }
      }
    }
  }
}

footer {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #0e1111;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      font-family: f1_bold;
      color: white;
      text-align: center;
      padding: 10px;

      .decor1 {
        width: 100%;
        height: 1px;
        background-color: white;
        margin: 10px 0;
      }

      .decor2 {
        width: 90%;
        height: 1px;
        background-color: white;
        margin: 10px 0;
      }

      img {
        width: 5vw;
        margin: 0 1rem;
        padding: 0;
      }

      .images {
        display: flex;
        align-items: center;
      }
    }
  }
  .logo {
    img {
      width: 130px;
      height: auto;
      margin: 5px;
    }
  }
  .pagelinks {
    position: absolute;
    bottom: 0;
    right: 0;
    a {
      text-decoration: none;
      color: white;
      font-family: f1;
      font-size: 20px;
      padding: 10px;
    }
  }
}
