@font-face {
  font-family: f1;
  src: url(../fonts/Formula1-Regular.ttf);
}

@font-face {
  font-family: f1_bold;
  src: url(../fonts/Formula1-Bold.ttf);
}

@font-face {
  font-family: f1_wide;
  src: url(../fonts/Formula1-Wide.ttf);
}

@font-face {
  font-family: f1_black;
  src: url(../fonts/Formula1-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.header {
  width: calc(100% - 2rem);
  background-color: red;
  padding: 0 1rem;

  .wrapper {
    width: calc(100%-180px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    margin-right: 180px;

    .logo {
      width: 180px;

      img {
        width: auto;
        height: 32.5px;
      }
    }

    .content {
      display: flex;
      width: 60%;
      justify-content: space-evenly;
      margin: 0 auto;

      a {
        text-decoration: none;
        color: white;
        font-family: f1;
      }
    }
  }
}

.teams {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

@media (max-width: 2140px) {
  .teams {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;  
  }
}

@media (max-width: 1430px) {
  .teams {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;  
  }
}


button {
  border: none;
  cursor: pointer;
  color: white;
  background: white;
  transition: all 0.3s ease-in-out;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  height: auto;
  width: 540px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background: none;
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}

.team {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: auto;
  height: auto;

  .wrapper {
    border: 0;
    border-top: 2px;
    border-right: 2px;
    border-top-right-radius: 15px;
    border-style: solid;
    height: auto;
    width: 610px;
    padding: 20px 20px 0 0;
    .team-position {
      display: flex;
      font-family: f1_bold;
      font-size: 42px;

      .points {
        font-family: f1_wide;
        font-size: 18px;
        margin-left: auto;

        .pts {
          font-size: 12px;
          text-align: center;
          border-radius: 4px;
          color: white;
          background-color: black;
        }
      }
    }
    hr {
      margin: 5px 0;
    }
    .team-info {
      display: flex;
      font-family: f1_bold;
      font-size: 25px;

      img {
        margin-left: auto;
        width: 32px;
        height: 32px;
      }
    }

    .name {
      border: 0;
      border-left: 5px;
      border-style: solid;
      padding: 0 0 0 10px;
    }

    .redbull {
      border-color: #3671c6;
    }

    .ferrari {
      border-color: #e80020;
    }

    .mclaren {
      border-color: #FF8000;
    }

    .mercedes {
      border-color: #27F4D2;
    }

    .aston-martin {
      border-color: #229971;
    }

    .rb {
      border-color: #6692ff;
    }

    .drivers {
      display: flex;
    }

    .driver-names {
      margin: 5px 0;
      width: 50%;
      display: flex;
      border: 0;
      border-bottom: 1px;
      border-right: 1px;
      border-bottom-right-radius: 10px;
      border-style: solid;
      border-color: #9a9a9a;

      img {
        border-bottom-right-radius: 9px;
        margin-left: auto;
        width: 48px;
        height: 48px;
      }

      .first-name {
        font-family: f1;
        font-size: 14px;
        margin: auto 0.5ch auto 0;
      }

      .last-name {
        font-family: f1_bold;
        font-size: 14px;
        margin: auto 0;
      }
    }

    .driver-names:not(:first-child) {
      margin-left: 2ch;
    }

    .car {
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(pictures/plus-x2.avif);
      background-size: 1.5%;
    }

    .driver-stats {
      border: 0;
      border-top: 1px;
      border-left: 1px;
      border-top-left-radius: 10px;
      border-style: solid;
      border-color: #9a9a9a;

      .driver-info {
        width: auto;
        height: auto;
        padding: 20px;
        padding-right: 0;
        display: flex;
        justify-content: center;

        .stat-name {
          font-family: f1_bold;
          line-height: 27px;
        }

        .stat-value {
          font-family: f1;
          margin-left: auto;
          text-align: right;
          line-height: 27px;
        }
      }
    }
  }
}

.item {
  scroll-snap-align: center;
  width: 520px;
  height: auto;
  background-color: white;

  .stats {
    display: flex;
  }

  .driver-name {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    width: 520px;
    display: flex;
    .first-name {
      font-family: f1;
      font-size: 18px;
      margin: auto 0.5ch auto 0;
    }

    .last-name {
      font-family: f1_bold;
      font-size: 18px;
      margin: auto 0;
    }
  }
}

.item:first-child {
  margin-left: 10px;
}

.item:not(:first-child) {
  margin-right: 10px;
}

footer {
  height: auto;
  width: 100%;
  background-color: #0e1111;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 0;

    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      font-family: f1_bold;
      color: white;
      text-align: center;
      padding: 10px;

      .decor1 {
        width: 100%;
        height: 1px;
        background-color: white;
        margin: 10px 0;
      }

      .decor2 {
        width: 90%;
        height: 1px;
        background-color: white;
        margin: 10px 0;
      }

      img {
        width: 5vw;
        margin: 0 1rem;
        padding: 0;
      }

      .images {
        display: flex;
        align-items: center;
      }
    }
  }
  .logo {
    img {
      width: 130px;
      height: auto;
      margin: 5px;
      position: absolute;
      bottom: 0px;
    }
  }
  .pagelinks {
    position: absolute;
    bottom: 0px;
    display: flex;
    right: 10px;

    a {
      text-decoration: none;
      color: white;
      font-family: f1;
      font-size: 20px;
      padding: 10px;
    }
  }
}
