@font-face {
  font-family: f1;
  src: url(fonts/Formula1-Regular.ttf);
}

@font-face {
  font-family: f1_bold;
  src: url(fonts/Formula1-Bold.ttf);
}

@font-face {
  font-family: f1_wide;
  src: url(fonts/Formula1-Wide.ttf);
}

@font-face {
  font-family: f1_black;
  src: url(fonts/Formula1-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/pictures/home_picture.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.header {
  width: calc(100% - 2rem);
  background-color: red;
  padding: 0 1rem;

  .wrapper {
    width: calc(100%-180px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    margin-right: 180px;

    .logo {
      width: 180px;
      justify-content: left;

      img {
        width: auto;
        height: 32.5px;
      }
    }

    .content {
      display: flex;
      width: 60%;
      justify-content: space-evenly;
      margin: 0 auto;

      a {
        text-decoration: none;
        color: white;
        font-family: f1;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    .content {
      font-family: f1;
      color: white;
    }

    .content {
      font-family: f1_bold;
      text-align: center;
      padding: 10px;

      hr {
        border: 1px solid red;
        margin: 20px 100px;
      }
    }
    img {
      height: auto;
      width: 100px;
      padding: 0 10px;
    }
  }
}