@font-face {
  font-family: f1;
  src: url(fonts/Formula1-Regular.ttf);
}

@font-face {
  font-family: f1_bold;
  src: url(fonts/Formula1-Bold.ttf);
}

@font-face {
  font-family: f1_wide;
  src: url(fonts/Formula1-Wide.ttf);
}

@font-face {
  font-family: f1_black;
  src: url(fonts/Formula1-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/pictures/home_picture.jpg");
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.header {
  width: calc(100% - 2rem);
  background-color: red;
  padding: 0 1rem;

  .wrapper {
    width: calc(100%-180px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    margin-right: 180px;

    .logo {
      width: 180px;
      justify-content: left;

      img {
        width: auto;
        height: 32.5px;
      }
    }

    .content {
      display: flex;
      width: 60%;
      justify-content: space-evenly;
      margin: 0 auto;

      a {
        text-decoration: none;
        color: white;
        font-family: f1;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: -168px;
  left: 0;
  width: 100%;
  background-color: #0e1111;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    .content {
      font-family: f1;
      color: white;
    }

    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      font-family: f1_bold;
      text-align: center;
      padding: 10px;

      .decor1 {
        width: 100%;
        height: 1px;
        background-color: white;
        margin: 10px 0;
      }

      .decor2 {
        width: 90%;
        height: 1px;
        background-color: white;
        margin: 10px 0;
      }

      img {
        width: 5vw;
        margin: 0 1rem;
        padding: 0;
      }

      .images {
        display: flex;
        align-items: center;
      }

    .logo {
      display: flex;
      width: 90vw;
      justify-content: left;

      img {
        width: auto;
        height: 15px;
      }
    }
    }
  }
}
